@font-face {
    font-family: "Heebo-Black";
    src: url("../assets/fonts/Heebo-Black/Heebo-Black.eot");
    src: url("../assets/fonts/Heebo-Black/Heebo-Black.eot?#iefix") format("embedded-opentype"),
         url("../assets/fonts/Heebo-Black/Heebo-Black.woff2") format("woff2"),
         url("../assets/fonts/Heebo-Black/Heebo-Black.woff") format("woff"),
         url("../assets/fonts/Heebo-Black/Heebo-Black.ttf") format("ttf"),
         url("../assets/fonts/Heebo-Black/Heebo-Black.svg#Heebo-Black") format("svg");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Heebo-Bold";
    src: url("../assets/fonts/Heebo-Bold/Heebo-Bold.eot");
    src: url("../assets/fonts/Heebo-Bold/Heebo-Bold.eot?#iefix") format("embedded-opentype"),
         url("../assets/fonts/Heebo-Bold/Heebo-Bold.woff2") format("woff2"),
         url("../assets/fonts/Heebo-Bold/Heebo-Bold.woff") format("woff"),
         url("../assets/fonts/Heebo-Bold/Heebo-Bold.ttf") format("ttf"),
         url("../assets/fonts/Heebo-Bold/Heebo-Bold.svg#Heebo-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Heebo-Medium";
    src: url("../assets/fonts/Heebo-Medium/Heebo-Medium.eot");
    src: url("../assets/fonts/Heebo-Medium/Heebo-Medium.eot?#iefix") format("embedded-opentype"),
         url("../assets/fonts/Heebo-Medium/Heebo-Medium.woff2") format("woff2"),
         url("../assets/fonts/Heebo-Medium/Heebo-Medium.woff") format("woff"),
         url("../assets/fonts/Heebo-Medium/Heebo-Medium.ttf") format("ttf"),
         url("../assets/fonts/Heebo-Medium/Heebo-Medium.svg#Heebo-Medium") format("svg");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Heebo-Regular";
    src: url("../assets/fonts/Heebo-Regular/Heebo-Regular.eot");
    src: url("../assets/fonts/Heebo-Regular/Heebo-Regular.eot?#iefix") format("embedded-opentype"),
         url("../assets/fonts/Heebo-Regular/Heebo-Regular.woff2") format("woff2"),
         url("../assets/fonts/Heebo-Regular/Heebo-Regular.woff") format("woff"),
         url("../assets/fonts/Heebo-Regular/Heebo-Regular.ttf") format("ttf"),
         url("../assets/fonts/Heebo-Regular/Heebo-Regular.svg#Heebo-Regular") format("svg");
    font-style: normal;
    font-weight: 300;
}
